<header [class]="bem.bemConvertion(baseClass)">

    <nav aria-label="Top" [class]="bem.bemConvertion(baseClass,'nav')">
      <div class="mx-auto max-w-7xl">

        <!-- ? Header main -->
        <div class="flex h-16 items-center">

          <!-- ? Mobile Hamburger -->
          <button type="button" class="rounded-md bg-white p-2 text-gray-400 lg:hidden">
            <span class="sr-only">Open menu</span>
            <c-icon [icon]="'menu'"></c-icon>
          </button>

          <!-- ? Logo -->
          <div [class]="bem.bemConvertion(baseClass,'logo')">
            <button (click)="isOpen=!isOpen" class="flex items-center space-x-2">
              <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              <span class="">Your Company</span>
              <c-icon [icon]="'chevron-down'"></c-icon>
            </button>
          </div>

          <!-- ? Search -->
          <div [class]="bem.bemConvertion(baseClass,'search')">
              <c-input [input]="searchInput"></c-input>
          </div>

          <!-- ? Auth -->
          <div [class]="bem.bemConvertion(baseClass,'auth-menu')">
            <div [class]="bem.bemConvertion(baseClass,'auth-menu-container')">
              <c-link [type]="'nav'" [path]="['/auth/login']" [content]="'Log in'"></c-link>
              <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
              <c-link [type]="'nav'" [path]="['/auth/register']" [content]="'Register'"></c-link>
            </div>

            <c-button [type]="'main-outline'" [icon]="'briefcase'" [iconType]="'main'"  [content]="'Open my shop'"></c-button>
             <!-- ? Profile -->
             <button [class]="bem.bemConvertion(baseClass,'profile')">
              <span [class]="bem.bemConvertion(baseClass,'profile-picture')">
                <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </span>
              <span [class]="bem.bemConvertion(baseClass,'profile-name')">John Doe</span>
            </button>

            <!-- ? Cart -->
            <div class="ml-4 lg:ml-6">
              <a href="#" class="group -m-2 flex items-center p-2">
                <c-icon [icon]="'shopping-cart'"></c-icon>
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                <span class="sr-only">items in cart, view bag</span>
              </a>
            </div>



            <!-- ? Flyout menus -->
            <div *ngIf="isOpen" class="{{bem.bemConvertion(baseClass,'flyout-menu')}}">
              <div class="flex h-full space-x-8">
                <div class="flex">
                  <div class="absolute inset-x-0 top-full z-10 text-sm text-gray-500">
                    <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                    <div class="relative bg-white">
                      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        <div class="grid grid-cols-2 gap-y-10 gap-x-8 py-16">
                          <div class="row-start-1 grid grid-cols-3 gap-y-10 gap-x-8 text-sm">
                            <div>
                              <p id="Clothing-heading" class="font-medium text-gray-900">{{flyoutMenu.title}}</p>
                              <ul role="list" aria-labelledby="Clothing-heading"
                                class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                <li *ngFor="let category of flyoutMenu.categories" class="flex">
                                  <c-link [path]="[category.url]" [content]="category.label"></c-link>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
    </nav>
  </header>
