<div [class]="bem.bemConvertion(baseClass)">
  <div [class]="bem.bemConvertion(baseClass,'main-image')">
    <img [src]="card.image" alt="" class="h-full w-full object-cover object-center">
    <div [class]="bem.bemConvertion(baseClass,'fin-infos')">
      <div aria-hidden="true" [class]="bem.bemConvertion(baseClass,'overlay')"></div>
      <p [class]="bem.bemConvertion(baseClass,'price')">{{card.price|currency:'TND'}}</p>
      <p [class]="bem.bemConvertion(baseClass,'stock',card.outOfStock ? 'out-stock':'in-stock')">
        <span>{{ card.outOfStock ? 'Out of stock' : 'In stock' }}</span>
      </p>
    </div>
  </div>
  <div [class]="bem.bemConvertion(baseClass,'content')">
    <p [class]="bem.bemConvertion(baseClass,'id')">
      <span class="font-bold">ID:</span>
      {{card.id}}</p>
    <h3 [class]="bem.bemConvertion(baseClass,'title')">{{card.title}}</h3>
    <p [class]="bem.bemConvertion(baseClass,'description')">
      {{card.description.toString()|slice:0:100}}
      <span *ngIf="card.description.length>100">...</span>
    <div class="flex items-center justify-between">
      <p [class]="bem.bemConvertion(baseClass,'brand')">{{card.brand}}</p>
      <c-ratings [ratings]="card.rating"></c-ratings>
    </div>
  </div>
  <div [class]="bem.bemConvertion(baseClass,'actions')">
    <div [class]="bem.bemConvertion(baseClass,'add')">
      <c-button [content]="'Add to bad'" [type]="'main'" [icon]="'shopping-bag'" [iconType]="'white'"></c-button>
    </div>
    <div [class]="bem.bemConvertion(baseClass,'favorite')">
      <c-button [type]="'basic'" [icon]="'heart'" [iconType]="'black'"></c-button>
    </div>
  </div>
</div>


