<div class="bg-gray-50/50 mx-auto rounded-md my-12 p-6 space-y-4">

  <!-- review -->
  <div class="w-full border-b-[1px] border-gray-100 p-6 ">
    <!-- Infos & rate -->
    <div class="flex items-center">
      <img
        src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80"
        alt="Emily Selman." class="h-12 w-12 rounded-full">
      <div class="ml-4">
        <h4 class="text-sm font-bold text-gray-900">Emily Selman</h4>
        <div class="mt-1 -ml-1">
          <c-ratings [ratings]="4"></c-ratings>
        </div>
        <p class="sr-only">5 out of 5 stars</p>
      </div>
    </div>

    <!-- review content -->
    <div class="mt-4 space-y-6 text-base italic text-gray-600">
      <p>This is the bag of my dreams. I took it on my last vacation and was able to fit an absurd amount of snacks for
        the many long and hungry flights.</p>
    </div>

  </div>
  <div class="w-full border-b-[1px] border-gray-100 p-6 ">
    <!-- Infos & rate -->
    <div class="flex items-center">
      <img
        src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80"
        alt="Emily Selman." class="h-12 w-12 rounded-full">
      <div class="ml-4">
        <h4 class="text-sm font-bold text-gray-900">Emily Selman</h4>
        <div class="mt-1 -ml-1">
          <c-ratings [ratings]="4"></c-ratings>
        </div>
        <p class="sr-only">5 out of 5 stars</p>
      </div>
    </div>

    <!-- review content -->
    <div class="mt-4 space-y-6 text-base italic text-gray-600">
      <p>This is the bag of my dreams. I took it on my last vacation and was able to fit an absurd amount of snacks for
        the many long and hungry flights.</p>
    </div>

  </div>
  <div class="w-full border-b-[1px] border-gray-100 p-6 ">
    <!-- Infos & rate -->
    <div class="flex items-center">
      <img
        src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80"
        alt="Emily Selman." class="h-12 w-12 rounded-full">
      <div class="ml-4">
        <h4 class="text-sm font-bold text-gray-900">Emily Selman</h4>
        <div class="mt-1 -ml-1">
          <c-ratings [ratings]="4"></c-ratings>
        </div>
        <p class="sr-only">5 out of 5 stars</p>
      </div>
    </div>

    <!-- review content -->
    <div class="mt-4 space-y-6 text-base italic text-gray-600">
      <p>This is the bag of my dreams. I took it on my last vacation and was able to fit an absurd amount of snacks for
        the many long and hungry flights.</p>
    </div>

  </div>

</div>
