<div class="mx-auto w-full">
  <form [formGroup]="form">
    <div class="flex w-full items-start justify-start h-screen flex-col space-y-12">
      <c-input [input]="emailInputGroup" formControlName="email"></c-input>
      <c-checkbox [checkbox]="emailInputGroup" formControlName="checkbox"></c-checkbox>
      <c-radio [radio]="radioInputGroup" formControlName="radio"></c-radio>
      <c-password-input [input]="passwordInputGroup"></c-password-input>
      <c-select [select]="selectInputGroup" formControlName="select"></c-select>
      <c-button (submit)="log()" type="main" [content]="'Button'"></c-button>
    </div>
  </form>
</div>

{{ form.value|json }}
