<div class="">
  <label for="">{{radioGroup.label}}</label>
  <div class="">
    <div
    *ngFor="let radioItem of radioGroup.radioItems"
    [class]="bem.bemConversion(baseClass,'','',['flex','items-center','space-x-2'])">
      <input [id]="radioItem.id" [name]="radioGroup.name" type="radio" [class]="bem.bemConversion(baseClass,'radio-input')"
        (input)="onChange($any($event.target).id)">
      <label [for]="radioItem.id" [class]="bem.bemConversion(baseClass,'label')">{{radioItem.label}}</label>
    </div>
  </div>
</div>
