<div>
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->

  <!-- Static sidebar for desktop -->
  <div class="hidden md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-grow flex-col overflow-y-auto border-r border-gray-200 bg-white pt-5">
      <seller-dashboard-sidebar></seller-dashboard-sidebar>
    </div>
  </div>


  <div class="flex flex-1 flex-col md:pl-64">
    <!-- <seller-dashboard-navbar></seller-dashboard-navbar> -->
    <main class="flex-1">
      <div class="py-12 px-6 lg:px-24">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
